<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711482219919-ivg11cudmedca3qojqbjo8cpn7mqmob3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711482219919-ivg11cudmedca3qojqbjo8cpn7mqmob3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>711482219919-djdo28mjied45h4nuo970ik4nl81emvq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3_MsFgRQplpzstVy7TFV3O55UAs7FAOc</string>
	<key>GCM_SENDER_ID</key>
	<string>711482219919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.waiyanhtun.codehub</string>
	<key>PROJECT_ID</key>
	<string>code-hub-c933b</string>
	<key>STORAGE_BUCKET</key>
	<string>code-hub-c933b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711482219919:ios:9e0ba9897906cadd39bffa</string>
	<key>DATABASE_URL</key>
	<string>https://code-hub-c933b-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>